{% extends 'base.html.twig' %}

{% block title %}Modifier la prestation{% endblock %}

{% block body %}
    <div class="centered">
        <h1>Modifier la prestation</h1>

        {{ include('prestation/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

        <a href="{{ path('app_prestation_index') }}" class="faux-lien">← Retour à la liste</a>

        {{ include('prestation/_delete_form.html.twig') }}
    </div>
{% endblock %}
